<% @body_id = 'signup' %>
 
<div id='devise' class='row'>
  <div class='col-md-4 col-md-offset-4'>
    <%= render 'spree/shared/error_messages', target: resource %>

    <div id="new-customer" class='panel panel-default'>
      <div class='panel-heading'>
        <%= Spree.t(:new_customer) %>
      </div>
      <div data-hook="signup" class='panel-body'>
        <%= form_for resource, :as => :spree_user, :url => spree.registration_path(resource) do |f| %>
          <div data-hook="signup_inside_form">
            <%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>
            <p><%= f.submit Spree.t(:create), :class => 'btn btn-success btn-block' %></p>
          </div>
        <% end %>
        <hr>
        <div class='row'>
          <div class='col-md-8 col-md-offset-1'>
            <%= link_to Spree.t(:login_as_existing), spree.login_path %>
          </div>
        </div>
      </div>
    </div>

    <div data-hook="login_extras"></div>
  </div>
</div>